@charset "utf-8";
/* NHN Web Standardization Team (http://html.nhndesign.com/) HHJ 090226 */

.se2_outputarea ,
.se2_outputarea th,
.se2_outputarea td{margin:0;padding:0;color:#666;font-size:12px;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;line-height:1.5;}
.se2_outputarea p {margin:0;padding:0;}
.se2_outputarea a:hover{text-decoration:underline;}
.se2_outputarea a:link{color:#0000ff;}
.se2_outputarea ul{margin:0 0 0 40px;padding:0;}
.se2_outputarea ul li {margin:0;list-style-type:disc;padding:0;}
.se2_outputarea ul ul li {list-style-type:circle;}
.se2_outputarea ul ul ul li {list-style-type:square;}
.se2_outputarea img,
.se2_outputarea fieldset{border:0;}
/* Nboard */
#n2_nboard .se2_outputarea {color:#666;font-size:12px;font-family:'돋움',Dotum,'굴림',Gulim, AppleGothic,Sans-serif;line-height:1.5;}
#n2_nboard .se2_outputarea th,
#n2_nboard .se2_outputarea td{margin:0;padding:0;color:#666;font-size:12px;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;line-height:1.5;}
#n2_nboard .se2_outputarea p {margin:0;padding:0;}
#n2_nboard .conts ul li {list-style-type:disc;}
#n2_nboard .conts ul li li {list-style-type:circle;}
#n2_nboard .conts ul li li li {list-style-type:square;}
#n2_nboard .se2_summary_td ul{color:#0482d6}