table.pretty_tbl {
	background: #F5F5F5;
	border-collapse: collapse;
	font-family:verdana;
	font-size: 12px;
}
table.pretty_tbl th, table.pretty_tbl td {
	border: 1px #CCCCCC solid;
	padding: 2px;
}
table.pretty_tbl th {
	background: #E0E0F0;
	text-align: left;
	font-size: 15px;
}
div.param_block{
	margin-top: 12px;
	margin-bottom: 12px;
}
span.param_name{
	font-weight:bold;
}
span.param_type{
	text-decoration: underline;
}
span.param_desc{
}
div.initiator_block{
	margin-top: 12px;
	margin-bottom: 12px;
}
div.handler_block{
	margin-top: 12px;
	margin-bottom: 12px;
}
span.handler_plugin_name{
/*
	background: #00FF00;
	color: #FF0000;
*/
	font-weight:bold;
}
span.handler_desc{
/*
	background: #0000FF;
	color: #FFFFFF;
*/
}

table.pretty_tbl caption {
	font-weight: bold;
	font-size: 15px;
	margin-left: inherit;
	margin-right: inherit;
}
div.view_mode_div span{
	margin: 1px 12px 1px 12px;
}
span.selected_view_mode_option{
	font-weight: bold;
	color: red;
	text-decoration: underline;
}
